In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('E:\\Desktop\\DS\\DS\\project\\final\\Baltimore_City_Employee_Salaries_FY2014.csv')

In [3]:
df = df.dropna()

In [4]:
df.columns

Index([' Name', 'JobTitle', 'AgencyID', 'Agency', 'HireDate', 'AnnualSalary',
       'GrossPay'],
      dtype='object')

In [5]:
df['HireDate'] = pd.to_datetime(df['HireDate'])

In [6]:
df.dtypes

 Name                   object
JobTitle                object
AgencyID                object
Agency                  object
HireDate        datetime64[ns]
AnnualSalary            object
GrossPay                object
dtype: object

In [7]:
df['HireDate'] = df['HireDate'].dt.year

In [9]:
sorted(df['HireDate'].unique())

[1952,
 1961,
 1962,
 1963,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [10]:
df['Experience'] = df['HireDate'].sub(2014, axis=0)
df['Experience'] = df['Experience'].abs()

In [11]:
df = df[(df.Experience >= 0) & (df.Experience <= 40)]

In [12]:
df = df[(df.HireDate >= 1972) & (df.Experience <= 2014)]

In [13]:
df.head(10)

,Name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Experience
0,"Aaron,Keontae E",AIDE BLUE CHIP,W02200,Youth Summer,2013,$11310.00,$873.63,1
1,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev,1979,$53428.00,$52868.38,35
2,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29005,States Attorneys Office,2006,$68300.00,$67439.19,8
3,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department,2009,$62000.00,$58654.74,5
4,"Abbene,Anthony M",POLICE OFFICER TRAINEE,A99416,Police Department,2013,$43999.00,$39686.95,1
5,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology,2013,$52000.00,$47019.75,1
6,"Abdal-Rahim,Naim A",EMT Firefighter Suppression,A64120,Fire Department,2011,$62175.00,$61451.50,3
7,"Abdi,Ezekiel W",POLICE SERGEANT,A99127,Police Department,2007,$70918.00,$87900.27,7
8,"Abdul Adl,Attrice A",RADIO DISPATCHER SHERIFF,A38410,Sheriff's Office,1999,$42438.00,$53667.53,15
12,"Abdul Hamid,Umar",SECRETARY II,A06009,Housing & Community Dev,1995,$34692.00,$12947.24,19

In [26]:
df.rename(columns={' Name' :'Name'},inplace=True)

In [27]:
df4 = df.copy()

In [28]:
df4.columns

Index(['Name', 'JobTitle', 'AgencyID', 'Agency', 'HireDate', 'AnnualSalary',
       'GrossPay', 'Experience'],
      dtype='object')

In [30]:
df4 = df4.drop(['Name', 'AgencyID', 'GrossPay'], axis=1)

In [31]:
df4.columns

Index(['JobTitle', 'Agency', 'HireDate', 'AnnualSalary', 'Experience'], dtype='object')